.main__product {
    position: relative;
    color: white;
}

.main__product img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.product__text {
    position: absolute;
    top: 460px;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 823px;
    height: 149px;
    font-size: 50px;
    font-weight: bold;
    line-height: 1;
}

.product__text p b {
    color: #9E825B;
}

.product {
    background: rgba(255, 255, 255, 1);
}

.products {
    display: flex;
}

.product-left {
    flex: 1;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 80px;
}

.product-left img {
    width: 519px;
    height: 506px;
    border-radius: 0 0 50px 0;
}

.product-right {
    flex: 1;
    padding-top: 60px;
    padding-bottom: 50px;
    padding-left: 80px;
}

.product-right h4 {
    color: #9E825B;
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;

}

.underline {
    width: 43px;
    height: 2px;
    background-color: #9E825B;
    margin-bottom: 20px;
}

.product-right p {
    width: 530px;
    height: 203px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
}

.productslider {
    background: rgba(241, 245, 249, 1);
    padding-top: 30px;
    padding-bottom: 30px;
}

.productslider h1 {
    align-items: center;
    display: flex;
}

.section {
    margin: 5rem auto;
}

.section-center {
    margin: 0 auto;
    margin-top: 4rem;
    width: 1135px;
    height: 550px;
    text-align: start;
    position: relative;
    display: flex;
    overflow: hidden;
}

article {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s linear;
}

article.activeSlide {
    opacity: 1;
    transform: translateX(0);
}

article.nextSlide {
    transform: translateX(100%);
}

article.lastSlide {
    transform: translateX(-100%);
}

.person-img {

    object-fit: cover;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.title {
    color: #9E825B;
    font-family: "Inter", sans-serif;
    font-size: 31px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    justify-content: center
}

.prev,
.next {
    position: absolute;
    top: 500px;
    transform: translateY(-50%);
    color: #9E825B;
    width: 48px;
    height: 48px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    border: 1px solid #9E825B;
    font-size: 1rem;
}

.prev:hover,
.next:hover {
    background-color: #9E825B;
    color: var(--color-white);
}

.prev {
    left: 500px;
}

.next {
    right: 500px;
}

.divide {
    display: flex;
}

.quote {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    width: 597px;
    height: 140px;
}

.left a {
    color: #9E825B;
    width: 148px;
    height: 68px;
    padding: 10px, 10px, 10px, 0px;
    gap: 10px;
    align-items: center;
    display: flex;
    font-size: 18px;
}

.left {
    flex: 1;
}

.left h4 {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 900;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 60px;
    padding-bottom: 10px;
    color: #9E825B;
}

.right {
    flex: 1;
}

.right img {
    width: 505px;
    height: 400px;
    border-radius: 20px;
    margin: 20px 20px;
}

.video__section {
    background: rgba(253, 254, 255, 1);
}

.video {
    background: rgba(249, 230, 203, 0.2)
}